.forgot-password-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.forgot-password-modal{
    width: 400px;
    height: 325px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgb(214, 214, 214);
}

.forgot-password-modal-user-icon{
    width: 90px;
    height: 90px;
    background-color: var(--purple);
    margin-left: 50%;
    margin-top: 25px;
    transform: translateX(-50%);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.forgot-password-modal-user-icon img{
    width: 50%;
    height: 50%;
}

.forgot-password-modal-text{
    margin-top: 30px;
    color: var(--purple);
    font-size: 1.2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.forgot-password-modal-footer{
    width: 82%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 40px;
    margin-top: 20px;
    display: flex;
}

.forgot-password-modal-footer-component{
    flex:1;
    height: 100%;
}

.text-modal-footer{
    color: var(--purple);
    text-decoration: none;
    width: 100%;
}

a{
    color: var(--purple);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.forgot-password-button{
    margin-top: 15px;
}